body{
    background: aliceblue;
}
 main{
    display:block;
 }
 h2{
    font-family: Verdana;
    text-align: center;
    padding-top: 4%;
}
.container{
    display:flex;
    background: rgb(159, 233, 223);
    width: 90%;
    height: 70vh;
    margin: 5%;
    border-radius: 10px;
    transition: background 0.5s ease-in-out;
}
.container:hover{
    background: rgba(123, 218, 205, 0.856);
}

.box{
    width: 47%;
    height: 88%;
    background:rgb(29, 202, 130);
    border-radius: 10px;
    margin:auto;
    margin-left: 2%;
    margin-right: 2%;;
    transition: width 0.5s ease-in-out;
}

.box1{
    
    width: 43%;
    height: 83%;
    margin:auto;
    background: rgb(110, 154, 235);
    border-radius: 10px;
}
.box1 img{
    overflow: hidden;
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin:7%;
    margin-left: 9%;
    transition: transform 0.3s ease;
}
.box1:hover img{
    transform: scale(1.1);
}



p{
    font-family: Geneva, Verdana, sans-serif;
    text-align: justify;
    padding: 3%;
}

